.card {
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    position: relative;
    z-index: 2;
    transition: 0.7s;
  }
  
  .card:hover {
    transform: scale(1.03);
  }
  
  .card:before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    padding: 30px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.39),rgb(237, 163, 4));
    z-index: 2;
    transition: 0.5s all;
    border-radius: 10px;
    opacity: 0;
    
  }
  
  .card:hover:before {
    opacity: 1;
  }
  .card .info {
    position: relative;
    padding: 20px;
    text-align: left;
    z-index: 5;
    color: white;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
  }
  
  .card:hover .info {
    opacity: 1;
    transform: translateY(0px);
  }